@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
  }

body {
  background-color: black;
}
  
.row::after {
  content: "";
  clear: both;
  display: table;
}
  
[class*="col-"] {
    float: left;
}
  
html {
  font-family: 'Ubuntu', sans-serif;
  color: white !important;
  text-align: center;
  font-weight: 400;
}

header, footer {
  border: 5px solid white;
  border-radius: 15px;
}

header {
  margin-bottom: 20px;
}

footer {
  font-weight: 400;
  min-height: 60px;
  margin-top: 15px;
}

#logo-holder {
  width: 100%;
  display: block;
  text-align: center;
}

#pt-logo-nav {
  width: 100px;
  height: 80px;
  vertical-align: middle;
}

header a, footer a, section a {
  font-weight: 500;
  color: white !important;
  text-decoration: underline;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

header a, footer a {
  font-size: 140%;
}

footer a i {
  text-decoration: none;
}

.social-links {
  text-decoration: none;
}

a:hover {
  color: #065e00 !important;
}

[class*="col-"] img {
  padding: 0;
}

/* Hero image and text */
#hero {
  text-align: center;
}

#hero-image {
  background-image: url("../images/hero-image.jpg");
  background-color: #065e00;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  height: auto;
  border-radius: 15px;
  background-position: center;
}

#hero-text {
  padding: 5% 0;
}

/* Images */
img {
  border-radius: 15px;
}

/* Image text position and style rules */
.text-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: auto;
  border-radius: 15px;
}

.text-image {
  width: 100%;
  height: auto;
}

/* h1-h6, p and other related changes to text */
h1 {
  font-weight: 700;
  letter-spacing: 10px;
  word-spacing: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 0 1.5%;
}

h2 {
  text-decoration: underline;
  font-size: 200%;
  margin-top: 0;
}

h3 {
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0 2.5%;
}

h4 {
  font-size: 150%;
  margin: 12px 0;
}

h5, label, input, ::placeholder {
  font-size: 110%;
  font-weight: 500;
}

h6 {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0 2.5%;
}

footer h4 {
  padding: 10px 0;
  font-size: 120%;
  margin: 12px 0;
}

#enquire-text h4 {
  font-size: 120%;
}

p {
  letter-spacing: 0.5px;
  font-size: 110%;
}

.font-italic {
  font-style: italic;
}

/* Tables and lists */
table, ul {
  text-align: center;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table td {
  text-align: center;
  padding: 1%;
  font-size: 110%;
}

li {
  padding: 1%;
  font-size: 110%;
}

/* Enquire page */
#enquire-image {
  padding: 0;
  margin: auto;
}

#enquire-text {
  padding-top: 0;
}

#form-area {
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  color: black;
  border: 10px  solid #065e00;
  border-radius: 15px;
}

.form-details {
  width: 50vw;
  display: block;
  margin: auto;
}

label {
  font-family: 'Ubuntu', sans-serif;
}

#injuries {
  display: block;
  margin-bottom: 2%;
}

input[type=checkbox] {
  accent-color: #11FA00;
}

input[type='text'], input[type='email'] {
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  font-weight: 500;
}

textarea {
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  font-weight: 500;
  width: 70%;
  height: 80px;
  resize: none;
}

.submit-button {
  background-color: #11FA00;
  border: black solid 2px;
  color: #000000;
  padding: 10px 5px;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
  
.submit-button:hover {
  background-color: #065e00;
  color: white;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

section {
  padding: 1%;
}

#hero-image, #hero-text {
  min-height: 200px;
}

h1 {
  font-size: 200%;
}

h3 {
  font-size: 90%;
}

h6 {
  font-size: 70%;
}

table td {
  display: block;
}

#enquire-image {
  width: 90vw;
}

#form-area {
  width: 100%;
}
  
  @media only screen and (min-width: 600px) {
    /* For horizontal/landscape view on mobiles or extra small tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    [class*="col-"] {
      padding: 3px 7px;
    }

    .col-9 {
      display: inline-flex;
      padding: 25px 0 !important;
    }

    section {
      padding: 1.5% 5%;
    }

    #hero-image, #hero-text {
      min-height: 400px;
    }

    h1 {
      font-size: 275%;
    }

    h3 {
      font-size: 120%;
    }

    h6 {
      font-size: 100%;
    }

    table td {
      display: table-cell;
      width: 50%;
    }

    #enquire-image{
      width: 60vw;
    }

    #form-area {
      width: 80%;
    }

    .form-details{
      width: 30vw;
      display: inline-block;
    }
  }

  @media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
      padding: 4px 10px;
    }

    #logo-holder {
      text-align: left;
  }

    section {
      padding: 2% 10%;
    }
    
    #hero-image, #hero-text {
      min-height: 600px;
    }

    h1 {
      font-size: 350%;
    }

    h3 {
      font-size: 140%;
    }

    h6 {
      font-size: 120%;
    }

    #enquire-image {
      width: 45vw;
    }

    #form-area {
      width: 60%;
    }  

    .form-details {
      width: 20vw;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 886px) {
    /* nav logo rule only for some tablets/laptops within this viewport width */

    #pt-logo-nav {
      margin: 6% 0;
    }
  }

  @media only screen and (min-width: 992px) {
    /* For small laptops: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
      padding: 4px 10px;
    }

    section {
      padding: 2.5% 15%;
    }

    #enquire-image {
      width: 35vw;
    }
  }

  @media only screen and (min-width: 1200px) {
    /* For large laptops and desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
      padding: 5px 10px;
    }

    section {
      padding: 3% 17.5%;
    }

    #enquire-image {
      width: 30vw;
    }
  }